.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found-title {
  font-size: 35px;
  margin-top: 55px;
  color: rgb(58, 58, 58);
}

.not-found-link {
  border: 2px solid rgb(58, 58, 58);
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  color: rgb(58, 58, 58);
}

.not-found-link:hover {
  background-color: rgb(77, 173, 70);
  color: rgb(245, 245, 245);
  cursor: pointer;
  border: 2px solid rgb(77, 173, 70);
  transition: background-color 200ms linear;
}
